<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Superhéroes</title>
</head>
<body>
    <!--<h1 Dashboard de Superhéroes</h1>-->
        <h1 style="text-align: center; font-family: Arial, sans-serif; 
        margin-top: 30px; color: #333;">
    Dashboard de Superhéroes
</h1>
        
<!--<a href="/dashboard/nuevo">Agregar Superhéroe</a>-->
<a href="/dashboard/nuevo" 
   style="display: inline-block; 
          padding: 10px 20px; 
          background-color: #535e59; 
          color: white; 
          text-decoration: none; 
          border-radius: 5px; 
          margin-bottom: 20px;">
   Agregar Superhéroe
</a>

<table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Nombre Real</th>
                <th>Edad</th>
                <th>Planeta</th>
                <th>Poderes</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% superheroes.forEach(function(hero){ %>
                <tr>
                    <td><strong><%= hero.nombreSuperHeroe %></strong></td>
                    <td><%= hero.nombreReal %></td>
                    <td><%= hero.edad %></td>
                    <td><%= hero.planetaOrigen %></td>
                    <td>
                        <%= hero.poderes.join(', ') %>
                    </td>
                    <td>
                        <!--usamos el _id, el valor que viene directo de el id de mongodb-->
                        <!--<a href="/dashboard/modificar/<%= hero._id %>" class="btn-edit">Editar</a>-->
                        <button class="btn-edit" onclick="editar('<%= hero._id %>')">Modificar</button>
                        <button class="btn-delete" onclick="eliminar('<%= hero._id %>', '<%= hero.nombreSuperHeroe %>')">
                            Eliminar
                        </button>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</html> 

<script>
    async function eliminar(id, nombre) {
        const confirmar = confirm("¿Estás seguro que deseas eliminar a " + nombre + "? Esta acción no se puede deshacer.");
        
        if (!confirmar) return;

        try {
            const res = await fetch("/api/heroes/id/" + id, { method: "DELETE" });

            if (res.ok) {
                //
               alert(nombre + " eliminado correctamente."); // 
                // Refrescamos la página para que desaparezca de la lista
                window.location.reload();
            } else {
                const errorData = await res.json();
                alert("Error al eliminar: " + (errorData.mensaje || "Error desconocido"));
            }
        } catch (error) {
            console.error("Error en la petición:", error);
            alert("No se pudo conectar con el servidor.");
        }
    }
    async function editar(id) {  
     //console.log("ID del héroe a editar:", id); // Verifica que el ID se reciba correctamente                           
     // Redirigimos a la página de edición con el ID del héroe
        window.location.href = "/dashboard/modificar/" + id;
     } 
</script>
